.myMenu{
	width: 100%;
	max-width: 600px;
	display: none;
	float:left;
}

.myTopMenuBarWide{
	background-color: #000;
	width: 100%;
	height: 44px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 400;
}

.myTopMenuBar{
	width: 98%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
/*	background: #333;*/
	position: relative;
}

.mobileLogoHolder{
	width: 160px;
	height: 33px;
	position: absolute;
	top: 6px;
	left:50px;
	background-image:url("/wp-content/themes/astra/assets/images/mobileLogoWhite160.png");
}
.animatedMenuMobileButton{
	position: absolute;
	top: 3px;
	left:0;
	width: 40px;
	height: 38px;
}

.mobileLoginContainer{
	background: #eee;
	text-align: left;
	float: left;
	width: 100%;
	max-width: 600px;
	height: auto;
}

@media only screen and (min-width: 601px ) {
	.mobileLoginContainer{
		display: none;
	}
}


.mobileMenuTopButtons{
	width: 120px;
	float: left;
	padding: 10px 0 10px 40px;
}


#mobileMenuMyAccount{
	background-image:url("https://woocomm.hustlernewsstand.com/wp-content/themes/astra/assets/images/mobile-login-icon.png");
	background-position: 5px 9px;
	background-repeat: no-repeat;
}

#mobileMenuWishlist{
	background-image:url("https://woocomm.hustlernewsstand.com/wp-content/themes/astra/assets/images/mobile-wishlist-icon.png");
	background-position: 5px 9px;
	background-repeat: no-repeat;
}

#mobileMenuMyAccount:hover{
	color: #c60c21;
}

#mobileMenuWishlist:hover{
	color: #c60c21;
}




@media only screen and (min-width: 1025px ) {
	.mobileLogoHolder{
		display:none;
	}
	.animatedMenuMobileButton{
		display:none;
	}
}




.myTopBarRightSide{
	/*background-color:purple;*/
	position: absolute;
	top: 2px;
	right:0;
	height: 42px;
	overflow: hidden;
}




.mobileMenuOverlay{
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	height: 100vh;
	position: fixed;
  	top: 42px;
  	left: 0;
  	bottom:0;
  	right: 0;
  	text-align: center;
  	z-index: 200;
  	margin: 0 auto;
  	color: #fff;
  	opacity: 0;	
  	display: none;
}




.myMenu>.menu-main-menu-container{
	font-family: 'Roboto', sans-serif;
}
.myMenu ul{
	list-style-type: none;
	width: 100%;
	/*background: #ebebeb;*/
	margin: 0;
	padding: 0;
}

/*///////////First level main buttons///////////////////*/
.myMenu>.menu-main-menu-container>#menu-main-menu>li>a{
		background-color: #fff;
		width: 100%;
		height: auto;
		padding: 12px 0 12px 2%;
		float: left;
		color: #000;
		text-decoration: none;
		border-bottom: 1px solid #ccc;
		font-size: 14px;
		text-align: left;
		background-image: url("/wp-content/themes/astra/assets/images/menuArrowDown.png");
		background-repeat: no-repeat!important;
		background-position: right 20px center!important;
}


.openArrow{
	background-image: url("/wp-content/themes/astra/assets/images/menuArrowUp.png");
	background-repeat: no-repeat!important;
	background-position: right 20px center!important;	
}



/*///////////sub menus///////////////////*/
.myMenu>.menu-main-menu-container>#menu-main-menu>li>.sub-menu{
		
}
/*///////////OR///////////////////*/
.myMenu .sub-menu{
	background-color: #eee;
	overflow: hidden;
	margin: 0;
}

.myMenu .sub-menu>li{
	float: left;
	height: auto;
	width: 100%;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}

.myMenu .sub-menu>li:hover{
	background: black;
	color: white;
}


.myMenu .sub-menu>li>a{
	width: 94%;
	height: auto;
	padding: 12px 0 12px 6%;
	float: left;
	color: #333;
	text-decoration: none;
	font-size: 14px;
	text-align: left;
	
}


.myMenu .sub-menu>li:hover, .myMenu .sub-menu>li:active{
	background:#cfcfcf;
}



/*	only way to target "specials menu*/
#menu-item-3449>ul>li{
	width: 50%;
}




.menuNavButtonsHolder{
	float: right;
	margin-top:2px;
}

.newCart{
    float:right;
    width: 50px;
    height: 40px;
    cursor: pointer;
    margin: 2px 0 0 6px;
  	background-image: url("/wp-content/themes/astra/assets/images/cartIcon.png");
	background-repeat: no-repeat;
}

.itemCountCopy{
	float: right;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    padding: 0 6px;
    font-size: 10px;
    font-weight: bold;
    margin-right: 6px;	
}




.deskTopNavSearch{
    display: none;
}
@media only screen and (min-width: 922px ) {
    .deskTopNavSearch{
        display: block;
    }
}














/*/////////////////////////////////////////////////////////////Animated X effect///////////////////////////////////////////////*/
#nav-icon3{
  width: 36px;
  height: 36px;
  position: relative;
  margin: 0 auto 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}




#nav-icon3 span:nth-child(1) {
  top: 10px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 26px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


