html, body{
	height: 100%;
}

body{
	margin-top:82px;
}

@media only screen and (min-width: 1024px ) {
	body{
		margin-top:96px;
	}
}



.contactFormCell>.elementor-widget-wrap{
    padding-top:0!important;
    background:orange;
}
/*.wpforms-confirmation-container .wpforms-confirmation-scroll, .elementor-element-be7c042{
	background-color: #06c006;
	padding: 10px;
	text-align: center;
}*/
[data-id="be7c042"]{
	background-color: #06c006;
	padding: 10px;
	text-align: center;
}

/*not really sure how this works but it seems to fix a weird layout bug where on mobile at around 500px, 
all odd product images were bigger and messing up the page*/
.woocommerce .elementor-element.elementor-products-grid ul.products li.product{
	width:100%;
}



/* shitty way to do it but these prevent the mag covers in the mag homepage style mag sliders from showing the current mag
Since we show the current mag on the left as the big cover
 */
/* hustler*/
ul.swiper-wrapper>.post-15872{display: none;}
/* BL*/
ul.swiper-wrapper>.post-15874{display: none;}
/* Taboo*/
ul.swiper-wrapper>.post-15876{display: none;}

ul.eael-woo-product-carousel li :first-of-type{
  background-color: yellow!important;
}

.woocommerce div.product div.images img{
	width:none!important;/* this isnt a correct value but prevents some sillyness */
}
.eael-product-popup-details{
	height:auto!important;
}
.eael-popup-details-render{
	width:90%!important;
}



/* /////////////////////////tweaks for the XXX page ///////////////////////////*/
/* No greater than 768px, no less than 460 */
@media (max-width:768px) and (min-width:460px) {
    
    .xxxCell{
        display:block;
        width: 50%;
        border:0;
       /* box-shadow: 0 3px 10px rgb(0 0 0 / 0)!important;*/
    }


    .xxxCell>div{
        border:0;
       /* box-shadow: 0 3px 10px rgb(0 0 0 / 0)!important;*/
       box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0);
    }
}

@media only screen and (min-width:768px ) {
	.xxxCell>div{
		border:0px solid #fff;
	    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.58);
	}
}




/* //this gets rid of the annoying overlay effect on the main header nav/////*/
.site-header{
	position: relative!important;
}


/* ///// sites header intro text headings/////*/

.pageHeading h1{
	font-size: 20px!important;
	margin-top: 2px!important;

}
.subHeading h2{
	font-size: 14px!important;
	margin-bottom: 4px!important;
}

@media only screen and (min-width:768px ) {
	.pageHeading h1{
		font-size: 26px!important;
		margin-top: 2px!important;

	}
	.subHeading h2{
		font-size: 20px!important;
		margin-bottom: 6px!important;
	}
}

@media only screen and (min-width:900px ) {
	.pageHeading h1{
		font-size: 28px!important;
		margin-top: 0px!important;

	}
	.subHeading h2{
		font-size: 22px!important;
		margin-bottom: 6px!important;
	}
}





/* ////edits the annoying space on the top mobile 'current magazine' areas/////*/
/* ////this class is added through Elementor/////*/
.currentIssueMobileHeader{margin-bottom: 2px!important;}


/* ////category slider/////*/
.swiper-slide-inner{
	/*background:orange;*/
}
.swiper-slide-inner img{
	width:90%;
}





/* ////////////////////////////////////////////////edits the mags in carousels///////////////////////////////////////////*/
/* //adds some padding to the mags in the carousels./////*/
.eael-product-carousel{
	padding:8px!important;
}

.styledMagTitle,.styledMagDate{
	color: #000;
	font-size: 18px;
	line-height: 0.7em;
	margin: 0 0 10px 0;
	font-weight: 500;
	display: block;
	text-align: center;
	width: 100%;
	line-height: 20px !important;
	margin-bottom: 2px !important;
}

.styledMagDate{
	color: #7B7B7B;
	font-size: 15px!important;
}



/* ////////////////changes color of links in main menu /////////////////////*/
#ast-hf-menu-1 li a, #ast-hf-menu-1 li {
	color: black;
	font-size: 12px!important;
}

.main-navigation {
	font-size: 12px!important;
}


/* ////////////////top menu /////////////////////*/


.emtpyNavCell{
	width: 10px!important;
	float: left;
	display:none;
}
.deskTopNavSearch{
	display: none;
	float: right;
	margin-top:3px;
}
.menuNavButtonsHolder{
	/*width: 290px!important; with 'create account'*/
	width:200px!important;
	float: right;
}
.cartHolder{
	width: 22px!important;
	float: right;
	height: 40px;

}
@media only screen and (min-width: 768px ) {
	.cartHolder{
		margin-top: 0;
		margin-right: 10px;
	}
}

.woocommerce .widget_product_search, .woocommerce-product-search{
	height: 34px!important;
	width: 100%!important;
	float: left;
}

.elementor-6963 .elementor-element.elementor-element-de8d594{
	width: 300px!important;
	background-color: #c50b20!important;
}


.woocommerce-product-search button{
	background-color: #000;
	width: 30px!important;
	background-image: url("https://woocomm.hustlernewsstand.com/wp-content/themes/astra/assets/images/search-icon.png");
	background-position: 2px 4px;
	background-repeat: no-repeat;
}
.woocommerce-product-search button:hover{
	background-color: #c50b20;
}


/*--ABANDONED
.deskTopNavSearch .aws-search-form {
	height: 34px;
	
}
<?php// if ( function_exists( 'aws_get_search_form' ) ) { aws_get_search_form(); } ?>

*/

@media only screen and (min-width: 922px ) {
	.deskTopNavSearch{
		display: block;
	}
	.menuNavButtonsHolder{
		/*width: 250px!important; with 'create account'*/
		width: 130px!important;
	}
}


.navWrapper .elementor-container{
	display: block;
    width: 90%;
    height:40px;
    max-width: 1200px;
    float: right;
    /*background-color: pink;*/
}

@media only screen and (min-width: 1200px ) {
	.navWrapper .elementor-container{
		margin-right:20px;
	}
}






.topMenuBarWide{
	background-color: black;
	width: 100%;
	height: auto;
}

.topMenuBar{
	width: 94%;
	max-width: 1200px;
	height: auto;
	padding:2px 0;
	margin: 0 auto;
	color: white;
	text-align: right;

}

@media only screen and (min-width: 1200px ) {
	.topMenuBar{
		width: 100%;
	}
}

@media only screen and (max-width: 768 ) {
	#ast-hf-menu-1 li a, #ast-hf-menu-1 {
		
	}
}

.topMenuBar a{
	height: auto;
	padding:0 8px;
	color: white;
	font-size: 14px;
	float: right;
	margin-top: 5px;

}

.topMenuBar a:hover{
	color: red;
}

.topMenuBar span.divide{
	float: right;
	margin-top: 6px;
	color: #999!important;
}

.topMenuBar span.divide .wishlist{
	display: block;
}
@media only screen and (min-width: 921px ) {
	.topMenuBar span.divide.wishlist{
		display: none;
	}
}


.loginIcon{
	width: 30px;
	height: 30px!important;
	background-image: url("https://woocomm.hustlernewsstand.com/wp-content/themes/astra/assets/images/login-icon.png");
	background-position: top center;
	margin-left: 8px;
}

.loginIcon:hover{
	background-position: bottom center;
}




/* ////////////////////////////////////////////////Search Bars/////////////////////////////////////////////////////*/
.headerSearchBarContainer{
	float: right;
	width: 340px;
	margin-right: 10px;
	display: none;
}


.mobileSearchButton{
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 4px;
	margin-right: 4px;
	cursor: pointer;
	display: block;
	background-image: url("/wp-content/themes/astra/assets/images/search-icon.png");
	background-position: top center;
}

@media only screen and (min-width: 921px ) {
	.headerSearchBarContainer{
		display: block;
	}
	.mobileSearchButton{
		display: none;
	}
}

.mobileSearchOverlay{
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	height: 100vh;
	position: fixed;
  	top: 0;
  	left: 0;
  	bottom:0;
  	right: 0;
  	text-align: center;
  	z-index: 100;
  	margin: 0 auto;
  	color: #fff;
  	display:none;
  	opacity: 0;
}

.mobileSearchContainer{
	width: 90%;
	max-width: 600px;
	height: auto;
	margin:20% auto 0 auto;
}
.mobileSearchContainer>.woocommerce-product-search>#woocommerce-product-search-field-0{
	height: 60px;
	margin-top: 5px;
}
.mobileSearchContainer>.woocommerce-product-search>button{
	height: 60px;
	margin-top: 5px;
	width: 50px;
	background-color: transparent;
	background-image: url("/wp-content/themes/astra/assets/images/mobile-search-icon.png");
	background-position: 0px 0px;
}
/*.mobileSearchContainer>.aws-container>.aws-search-form {
	height: 60px;
	margin-top: 5px;
}

.mobileSearchContainer>.aws-container>.aws-search-form>.aws-wrapper>.aws-search-field{
	font-size:22px;
}

/* ///this is the actual desktop search form. Not the custom container///*/
/*.headerSearchBarContainer>.aws-container>.aws-search-form {
	height: 36px;
	margin-top: 5px;
}*/


/* //////this will hide the descriptions from showing in the search result dropdown//////*/
.aws-search-result .aws_result_excerpt{
	display:none;
}





/* ////////////////this is the top nav bar generated in Astra for now /////////////////////*/
/* //////IF we even have one. This is how you hide it ///////////*/
.ast-above-header-wrap {
	display:none;
}


.ast-primary-header-bar, .ast-main-header-wrap, .ast-desktop-header, .site-header{
	background-color: rgba(255,255,2555,1)!important;
}



/* ////////////////playing with the dropdown styles/////////////////////*/
.main-header-menu .sub-menu {
    border-color: #fff;
    width: 240px;
}

.main-header-menu .sub-menu li{
    background: #d6311f;
    color: #fff;
    transition: background-color 0.5s ease;
}

.main-header-menu .sub-menu li:hover{
    background: #781005;
}


@media only screen and (max-width: 921px ) {
	.main-header-menu .sub-menu li a.menu-link{
/*	    padding-top:10px!important;
	    padding-bottom:10px!important;*/
	}
}


@media only screen and (min-width: 921px ) {
	.main-header-menu .sub-menu li a.menu-link{
	    color: #fff!important;
	}
}


/* ///////////////////////////////////////////LOGO HACK//////////////////////////////////////////////*/
/* /for some reason the CMS wont let me change the mobile logo so I control its container here/*/
/* /  some code is also done in the overwrite-tweaks.js file  /*/


.site-header-primary-section-left{
	/*background-color: rgba(0,0,0,0.5);*/
	max-width: 220px;
}


@media only screen and (min-width: 1000px ) {
	.site-header-primary-section-left{
		/*background-color: yellow;*/
		max-width: 260px;
	}
}


/* ///////////////////////////////////////////MY ACCOUNT PAGE//////////////////////////////////////////////*/
/* /  targets the header image on the 'my account' page /*/
[data-id="0e916b3"] {
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0!important;
}

.elementor-section-wrap{
	background-color: #fff;
}

/* ///////////////////////////////////////////edits woocommerce products//////////////////////////////////////////////*/
.productMagTitle{
	width: 100%;
	float: left;
}

.productMagSubTitle{
	width: 100%;
	color: #999;
	float: left;
	font-weight: normal;
}

.ast-loop-product__link{
	float: left;
	margin-bottom: 6px;
}

/* ///////////////////////////////////////////FOOTER//////////////////////////////////////////////*/
/*footer, .site-below-footer-wrap{
	background:#000!important;
}
*/
footer a, .site-below-footer-wrap p, .ast-builder-html-element p{
	margin-bottom:10px!important;
}
.site-primary-footer-wrap {
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}
.astra-footer-menu{
	margin-bottom:0!important;
}
footer a:hover{
	color:#c60c21!important;
}

.site-primary-footer-wrap{
	padding:0;
}

