body{
	background-color: #fff!important;
}




.ast-container{
	padding:10px 0;
}

.entry-title{
	margin-left:6px;
}

.shipping-calculator-button{
	text-decoration: underline!important;
	font-weight: bold;
	color: #c60c21;
}
.shipping-calculator-button:hover, .shipping-calculator-button:focus{
	text-decoration: underline!important;
	font-weight: bold;
	color: #c60c21;
}

.shop_table{
	border-radius: 6px!important;
}

@media only screen and (min-width:500px ) {
	.ast-container{
		padding:20px;
	}	
	.entry-title{
		margin-left:0;
	}
}

.newCart{
	filter: brightness(40%);
	pointer-events: none;
}

#primary{
	margin:0!important;
	padding:0!important;
	width: 100%;
	border:0!important;
}

.woocommerce-cart-form{
	width: 100%!important;
	float: left;
/*	background-color: #ebebeb;*/
}

.cart_totals {
	width: 100%!important;
	float: right!important;	
	background-color: #f5f5f5;
	border-radius: 6px!important;
}
.cart_totals h2 {
	background-color: #f5f5f5!important;	
}


@media only screen and (min-width:800px ) {
	.woocommerce-cart-form{
		width: 50%!important;
	}

	.cart_totals {
		width: 48%!important;	
	}
}


@media only screen and (min-width:1024px ) {
	.woocommerce-cart-form{
		width: 60%!important;
	}

	.cart_totals {
		width: 38%!important;	
	}
}


.productRow, .woocommerce-cart-form__cart-item{
	border-bottom: 1px solid #ebebeb;
	width: 100%;
	height: auto;
	float: left;
	padding: 10px 6px;
	position: relative;
}

.coverPic{
	float: left;
	width: 80px!important;	
	height: auto!important;	
	padding: 0!important;
	background-image: url("/wp-content/themes/astra/assets/images/loading-spin.gif");
	background-repeat: no-repeat;
	background-position: center;	
	border:0!important;
}

.coverPic::before, .coverPic::after{
	content: ""!important;
}


.coverPic img{
	width: 100%!important;	
	height: auto!important;	
	padding: 0!important;	
}

.productRow .title{
	width: 60%;
	height: auto;
	float: left;
	padding: 0 0 0 12px;
	font-weight: bold;
	color: #000;
}


.quantityArea{
	float: left;
	width: 60%;
	padding: 0 0 0 12px;
}

.removeArea{
	float: right;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top:10px;
}

.woocommerce a.remove{
	border-radius:0;
	border:0;
}

.priceArea{
	float: right;
	width: 100px;
	position: absolute;
	right: 20px;
	bottom:20px;
	text-align: right;	
	font-weight: bold;
}


.titleColumn{
/*	background-color: pink;*/
	padding: 0!important;
	margin: 0!important;
	float: left;
	text-align: left;
	width: 48%;
	border:0!important;
}

@media only screen and (min-width:420px ) {
	.titleColumn{
		width: 54%;
	}
}

.titleColumnTable{
	border:0!important;
}




.titleColumn::before, .titleColumn::after{
	content: ""!important;
}

.product-name{
	padding:0 0 0 10px!important;
	border:0!important;
	text-align: left!important;
}

.product-name a, .product-name a:hover{
	float: left;
	text-align: left!important;
  	color: #000!important;
}

.product-name::before, .product-name::after{
	content: ""!important;
}


.product-quantity{
	padding:10px 0 0 10px!important;
	border:0!important;	
}
.product-quantity::before, .product-quantity::after{
	content: ""!important;
}



.qib-container{
	float: left;
	display: block;
}

.rightColumn{
	float: right;
	padding: 0!important;
	border:0;
	border:0!important;
}

.rightColumn::before, .rightColumn::after{
	content: ""!important;
}


.product-remove{
	text-align: right!important;
}

.xoo-wsc-smr-del .xoo-wsc-icon-trash, .woocommerce a.remove{
	color: #000!important;
}

.product-subtotal::before, .product-subtotal::after{
	content: ""!important;
}

.checkout-button {
	background-color: #c60c21 !important;
	color: #fff!important;
	border-radius: 4px!important;
}
.checkout-button:hover {
	background-color: #000 !important;
}



input[name="update_cart"]:enabled, input[name="update_cart"] {
  background: #000!important;
  color: #fff!important;
}

.woocommerce .cart .button, .woocommerce .cart input.button{
  background: #000!important;
  color: #fff!important;
  margin: 10px auto!important;
}



.actions{
	padding:6px!important;
}

/*////////////coupon area/////////////////////////*/
.coupon{
	width: 100%;
	float: left;
/*	background: green;*/
	display: block;
}

#coupon_code{
	float: left;
	width: 50%;
	border-radius: 4px!important;
}

input[name="apply_coupon"]{
	float: right!important;
	width: 50%!important;
	padding:0!important;
	border-radius: 4px!important;
}

@media only screen and (min-width:460px ) {

	.woocommerce .cart .button, .woocommerce .cart input.button{
	  margin: 10px auto!important;
	  float: right!important;
	  width: 30%!important;
	  padding-top:10px!important;
	  padding-bottom:10px!important;
	}

	.coupon{
		width: 60%!important;
		float: left!important;
	}

	input[name="apply_coupon"]{
		float: right!important;
		width: 50%!important;
		padding:0!important;
		border-radius: 4px!important;
	}

}

@media only screen and (min-width:545px ) {

	.woocommerce .cart .button, .woocommerce .cart input.button{
	  margin: 10px auto!important;
	  float: right!important;
	  width: 30%!important;
	  border-radius: 4px!important;
	}

	.coupon{
		width: 60%!important;
		float: left!important;
	}

	/*coupon button also */
	input[name="apply_coupon"]{
		float: right!important;
		width: 50%!important;
		padding:0!important;
		border-radius: 4px!important;
	}

	/*coupon button*/
	.woocommerce #content table.cart .button[name="apply_coupon"], .woocommerce-page #content table.cart .button[name="apply_coupon"] {
	    padding:10px 0 !important;
	    float: right!important;
		width: 50%!important;
	}

}


@media only screen and (min-width:800px ) {
	.woocommerce .cart .button, .woocommerce .cart input.button{
	  margin: 10px auto!important;
	  float: right!important;
	  width: 36%!important;
	}
}




@media only screen and (min-width:922px ) {

	.woocommerce .cart .button, .woocommerce .cart input.button{
	  margin: 10px auto!important;
	  float: right!important;
	  width: 36%!important;
	}

	.coupon{
		width: 60%!important;
		float: left!important;
	}

	/*coupon input */
	.woocommerce #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text{
		float: left!important;
		width: 50%!important;
	}



	/*coupon button also */
	input[name="apply_coupon"]{
		float: right!important;
		width: 50%!important;
		padding:0!important;
	}

	/*coupon button*/
	.woocommerce #content table.cart .button[name="apply_coupon"], .woocommerce-page #content table.cart .button[name="apply_coupon"] {
	    padding:10px 0 !important;
	    float: right!important;
		width: 50%!important;
		border-radius: 4px!important;
	}

}


@media only screen and (min-width:1024px ) {
	.coupon{
		width: 360px!important;
	}
}


/* update address button  */
.shipping-calculator-form button{
	float: right!important;
	background-color: #000!important;
	color: #fff!important;
	padding:10px!important;
	max-width: 160px;
}
.shipping-calculator-form button:hover{
	background-color: #d12511!important;
	color: #fff!important;
}

.woocommerce-shipping-totals td{
	height: auto;
    float: left;
    width: 100%;

}





