/*//////////////////////////////////////////////////CHECKOUT PAGE////////////////////////////////////// */
body{
	margin-top:100px!important;
	position: relative;
	background-color: #EDEDED;
}
.elementor-section.elementor-top-section.checkoutWidgetContainer {
	background-color: #EDEDED;
}
.checkout.woocommerce-checkout h3 {
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 10px !important;
}
.checkout.woocommerce-checkout h3#ship-to-different-address {
	text-transform: none;
	font-weight: 600;
	padding-top: 1.5rem !important;
}
.text-right {
	text-align: right;
}
td.pric-total-td {
	font-size: 120%;
}
@media only screen and (min-width:1024px ) {
	body{
		margin-top:120px!important;
	}
}	


input, textarea {
   border-radius: 4px!important;
}


/*//////Order received page - variation of the checkout page///////*/

.woocommerce-order-details{
	max-width: 600px!important;
	float: left!important;
	width: 100%!important;
}


.woocommerce-order-details__title{
	max-width: 600px!important;
}

.woocommerce-column--billing-address{
	float:right!important;
	margin-bottom: 20px!important;
}


.woocommerce-table, .woocommerce-table--order-details{
	width: 100%!important;
}



/*this moves the error warnings down a little since we have the breadcrumbs positioned absolute*/
.woocommerce-notices-wrapper{
	/*margin-top:20px;*/
}


.payment_box{
	background-color: #dfdcde!important;
	
}
.payment_method_ppec_paypal::before{
	border-bottom-color: #dfdcde!important;
}


.payment_method_ppec_paypal p{
	color: #333!important;
	background-color: #dfdcde!important;
	padding: 0!important;
	font-size: 15px;
	font-family: roboto;
}

.woocommerce-privacy-policy-text a{
	color: #c60c21!important;
}
.woocommerce-privacy-policy-text a:hover{
	text-decoration: underline!important;
}

/*MAYBE this gets rid of that weird line Gene is seeing under the coupon field*/
.checkout_coupon .clear{
	display: none!important;
}

.woocommerce-error {
	background-color: #c60c21!important;
	color: #fff!important;
	padding: 6px !important;
}
.woocommerce-error::after, .woocommerce-error::before{
	display: none!important;
}



.requiredField{
	border: 1px solid #c60c21 !important;
}


.checkoutBreadcrumbsWrapper{
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 300;
	width: 100%;
	color: #999;
	background-color: #fff;
	display: none;
}

.checkoutBreadcrumbsWrapper span{
	color: #333;
}

.checkoutBreadcrumbsWrapper a{
	color: #C60C21;
}
.checkoutBreadcrumbsWrapper a:hover{
	text-decoration: underline!important;
}

@media only screen and (min-width:1024px ) {
	.checkoutBreadcrumbsWrapper{
		top: 98px;
		display: none;
	}
}	


.checkoutBreadcrumbs{
	padding: 6px 20px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}



@media only screen and (min-width:1220px ) {
	.checkoutBreadcrumbs{
		padding: 6px 0;
	}
}	





/*what the fuck is this? some mystery border around the coupon field suddenly*/
.eael-woo-checkout .woocommerce form.checkout_coupon {
    border: 0!important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message{
	padding:0;
	background-color: transparent;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    float: left!important;
}


.showlogin{
	color:#c60c21!important;
	font-weight: bold;
	margin-left: 4px;
}
.showlogin:hover{
	text-decoration: underline!important;
}


.woocommerce-form-coupon-toggle{
	display: none!important;
}
.woocommerce-form-coupon{
	display: block!important;
}


.woocommerce-form-login-toggle{
/*	background-color: blue;*/
	
	display: block!important;
	width: 100%;
	float: left;
	margin: 0 0 0 0!important;
	padding: 0!important;	
	height: 40px;
}


.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
	margin-top:0!important;
	background-color: #fafafa!important;
}



.woocommerce-form-login__submit{
	background-color: #000!important;	
	color: #fff!important;	
}
.woocommerce-form-login__submit:hover{
	background-color: #c60c21!important;
}

.checkout_coupon{
	position: absolute;
	top:-1000px;
	z-index: 20;
	/*background-color: green;*/
	background-color: #fafafa;
	border-radius: 0!important;
    padding: 10px 0 6px 0!important;
    overflow: hidden;
    max-width: 360px!important;	
}

.checkout_coupon .form-row-first{
	width: 50%!important;
	float: left!important;	
	display: block;
}

.checkout_coupon .form-row-last{
	width: 46%!important;
	float: right!important;	
	display: block;
}

.checkout_coupon .form-row::before{
	display: none!important;	
}

.checkout_coupon .form-row::after{
	display: none!important;	
}


.checkout_coupon .form-row-last>button{
	width: 100%!important;
	float: right!important;	
	display: block;
	padding: 9px 0!important;	
}

.couponHackHolder{
	/*background-color:orange;*/
	width: 100%!important;
	float: left;
	height: 60px;
	padding:0!important;
	margin: 0!important;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
	margin-top:0!important;
	background-color: #fafafa!important;
}



.woocommerce-form-login__submit{
	background-color: #000!important;	
	color: #fff!important;	
}
.woocommerce-form-login__submit:hover{
	background-color: #c60c21!important;
}

.checkout_coupon{
	position: absolute;
	top:-1000px;
	z-index: 20;
	/*background-color: green;*/
	background-color: #fafafa;
	border-radius: 0!important;
    padding: 10px 0 6px 0!important;
    overflow: hidden;
    max-width: 360px!important;	
}

.checkout_coupon .form-row-first{
	width: 50%!important;
	float: left!important;	
	display: block;
}

.checkout_coupon .form-row-last{
	width: 46%!important;
	float: right!important;	
	display: block;
}

.checkout_coupon .form-row::before{
	display: none!important;	
}

.checkout_coupon .form-row::after{
	display: none!important;	
}


.checkout_coupon .form-row-last>button{
	width: 100%!important;
	float: right!important;	
	display: block;
	padding: 9px 0!important;	
}

.couponHackHolder{
	/*background-color:orange;*/
	width: 100%!important;
	float: left;
	height: 60px;
	padding:0!important;
	margin: 0!important;
}

.newCart{
	filter: brightness(40%);
	pointer-events: none;
}

@media only screen and (max-width:1024px ) {
	
	.checkoutWidgetContainer{
		padding:0!important;
	}

}

@media only screen and (min-width:1200px ) {
	.checkoutWidgetContainer{
		padding:20px!important;
	}
}
@media only screen and (min-width:1246px ) {
	.checkoutWidgetContainer{
		padding:0px!important;
	}
}


#customer_details{
    padding:0 2% 20px 2%!important;
    border: 1px solid #dbdbdb!important;
   	background-color: #fefefe;
   	border-radius: 6px!important;
}

#customer_details h3{
    padding: 0 0 10px 0 !important;
    margin-top:4px!important;
}

#payment{
	border-bottom-left-radius: 6px!important;
	border-bottom-right-radius: 6px!important;
	clear: both;
	display:block;
	float: none;
	width: 100% !important;
}

.shop_table{
	border-bottom-left-radius: 6px!important;
	border-bottom-right-radius: 6px!important;	
	width: 100% !important;
	clear: both;
	float: none;
}
.woocommerce-page.woocommerce-checkout #payment {
	border-radius: 6px;
	border-width: 2px;
	border-color: #000;
	padding: 1rem 1rem 0px!important;
}
.woocommerce-checkout-payment {
	padding-top: 1rem;
}
#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
		margin-bottom: 0.5rem;
}
.woocommerce-checkout #payment ul.payment_methods li input {
	width: 17px;
	height: 17px;
}
.woocommerce-checkout #payment ul.payment_methods li label {
	font-size: 105%;
	font-weight: 600;

}
@media only screen and (max-width:1199px ) {
	#payment{
		border-top-left-radius: 6px!important;
		border-top-right-radius: 6px!important;
	}
}

@media only screen and (max-width:1199px ) {

	.shop_table{
/*		border-top-left-radius: 6px!important;
		border-top-right-radius: 6px!important;	*/
	}

}


/*	this fixes the little bastard "returning customer" thing from overlapping the form on mobile*/
@media only screen and (max-width:1199px ) {
	.woocommerce-checkout{
/*		float:left!important;
		padding-top: 4px;*/
	}
}



/*billing details column*/
#customer_details{
	margin-right: 0!important;
	border-radius: 6px!important;
}

/*that shitty containing Div*/
#order_review{
/*	background-color: pink;*/
	border:0!important;
}


.woocommerce-checkout-review-order{
	padding:0!important;
}


.shop_table{
	background-color: #fafafa;
	/*background-color: pink;*/
    float: left;
    padding: 0 2%!important;
    border: 1px solid #dbdbdb!important;
}





.woocommerce-checkout-payment{
	/*background-color: orange;*/
    float: left;
    padding: 0 2%!important;
    background-color: #f2f2f2;
	border: 1px solid #cfcfcf;
	margin-bottom: 20px;
}


.desktop_section_titles{
	float: right;
	width: 65%;
	height: auto;
	display: none;
}

.desktop_section_titles .title{
	float: left;
	width: 50%;
	height: auto;
	text-align: left;
	
	font-weight: bold;
	font-size: 18px;
	padding: 0 0 8px 2%;
	background-color: #fafafa;
	border: 1px solid #dbdbdb;
	border-bottom: 0 ;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#titlePayment{
	float: right;
	width: 47%;
	/*background-color: orange;*/
	background-color: #f2f2f2;
	border: 1px solid #cfcfcf;
	border-bottom: 0 ;
}

/*payment title IN the payment.php*/
.paymentOptionTitle{
	border-bottom: 1px solid #cfcfcf;
	font-weight: bold;
	margin-bottom: 6px;
	font-size: 18px;
}

/** need to turn table to flex divs to limit height of shopping cart in case too many items **/
.woocommerce-checkout-review-order-table  {
	display: flex;
	flex-wrap: wrap;
}
.woocommerce-checkout-review-order-table tr {
	display: flex;
	width: 100%;
	align-items: center;
	border-radius: 0.23rem;
	padding: 0px 15px;
}

.woocommerce-checkout-review-order-table tr.woocommerce-shipping-totals.shipping {
	border: 1px solid #CBCBCB;
	background: #F1F1F1;
}
.woocommerce-checkout-review-order-table tr.woocommerce-shipping-totals.shipping td {
	font-size: 90%;
	font-weight: 400;
	text-align: right;
}
.woocommerce-checkout-review-order-table tfoot {
	width: 100%;
}
.woocommerce-checkout-review-order-table td.product-image {
	width: 75px;
}
.woocommerce-checkout-review-order-table td.product-image img {
	width: 100%;
	max-width: 65px;
}
.woocommerce-checkout-review-order-table h5 {
	    font-size: 85%;
    font-weight: 600;
    line-height: 1.2;
	margin-bottom: 0px;
}
.woocommerce-checkout-review-order-table .product-quantity {
	font-size: 90%;
}
.review-order-wrapper {
	height: auto;
	max-height: 170px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.review-order-wrapper tr {
	width: 100%;
	display: flex;
	align-items: center;
}
@media only screen and (min-width:1200px ) {
	/*billing details column*/
	#customer_details{
		width: 60%!important;
		margin-right: 0!important;
	}

	/*that shitty containing Div*/
	#order_review{
		width: 39%!important;
		/*background-color: blue;*/
	}	
	.woocommerce-checkout-payment{
		/*background-color: orange;*/
	    width: 47% !important;
	    float: right;
	}
	.shop_table{
		background-color: #fafafa;
	   /* width: 50% !important;*/
	    border: 1px solid #dbdbdb!important;
	}

	.paymentOptionTitle{
		display:none;
	}	
	#order_review_heading{
		display:none;
	}
	.desktop_section_titles{
		display: block;
		display: none;
	}
}/*//////////////end 1200*/


/*right side order area bg colors*/
#order_review, #order_review_heading{
	/*background-color: #f7f7f7;*/
}


#order_review_heading{
	padding: 10px 0 10px 6px!important;
	background-color: #fafafa;
	border: 1px solid #dbdbdb!important;
	border-bottom: 0!important;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;	
}



/*we added the images to the checkout page so this expands the width of the cells so everything fits*/
.cart_item .product-name{
	width: 60%;
}

#place_order{
	background-color: #c60c21;
	color:#fff;
	border-radius: 4px!important;
}
#place_order:hover{
	background-color: #000;
}

#billing_company_field{
	display: none!important;
}

/*hide the desktop logo/menu bar and show the mobile version always for space*/
/*.animatedMenuMobileButton, .mobileLogoHolder{
	display: block;
}

[data-id="5c8bb783"]{
	display: none;
}*/


.woocommerce-form-coupon-toggle{
	background-color: #fff;
}
.woocommerce-form-coupon-toggle>.woocommerce-info{
	padding:0;
}

.woocommerce-info::before{
	display: none;
}


.woocommerce-billing-fields h3{
	padding-top:0!important;
}
.woocommerce-info{
	background-color: #fff;
	border:0;
}







#coupon_code{
	border-radius: 4px!important;
}




.movedCouponContainer{
	/*background-color: pink;*/
	background-color: #f7f7f7;
	float: right;
	width: 100%;
	margin: 0 0;
	overflow: hidden;
	border: 2px solid #ebebeb;
	border-bottom: 0;
}

@media only screen and (min-width:922px ) {
	.movedCouponContainer{
		width: 40%;
	}
}



@media (max-width:1024px) and (min-width:922px) {
    .checkout_coupon .form-row {
        /*width: 100%!important;*/
        /*background-color: yellow!important;*/
    }
	.woocommerce form.checkout_coupon .button[name="apply_coupon"] {
	    padding: 9px 22px!important;
	    border-radius: 4px!important;
	}

}​
/*
.checkout_coupon .form-row {
    max-width: 200px!important;
    /*background-color: yellow!important;*/
}*/

/*hide the paragraph saying "have a coupon ..." Its redundant and takes up space. */
/*FUCK IT had to resort to JS */
/*.checkout_coupon  p:first-child {
	background-color: blue!important;
	display: none!important;
}*/

.movedCouponP{
	padding-bottom: 5px;
	/*background-color: orange;*/
	float: left;
	width: 96%;	
	padding:2%;
}

.movedCouponP a{
	float: left;
	width: 100%;	
}


#coupon-anchor{
	/*background: #babada;*/
	float: left;
	width: 98%;	
	padding:0 0 0 2%;
}
.ui-dialog{
	height: auto;
	width: 100%!important;
	position: relative;
	top: auto!important;
	left: auto!important;
}
.entry-content p {
    margin-bottom: 0.2em!important;
}

#show-coupon-form{
	/*padding: 10px;*/
}
#show-coupon-form:hover, #show-coupon-form:visited{
	/*padding: 10px;*/
	color: #4e4e4e;
}

#coupon-anchor p.form-row-last {
    max-width: 200px!important;
    overflow: visible;
}





/*hide the shitty close button that these assholes put at the top ..???..!!!*/
.ui-dialog-titlebar{
	display:none;
}





.woocommerce form.checkout_coupon .button[name="apply_coupon"] {
    background-color: #000!important;
    color: #fff;
    padding: 9px 40px;
    border-radius: 4px!important;
}

.woocommerce form.checkout_coupon .button[name="apply_coupon"]:hover {
    background-color: #666!important;
}


/*////////////////////////////////////////this is for the order received page/////////////////////////////////////////*/


.woocommerce-table__product-name{
	border-right: 1px solid rgba(0,0,0,.1)!important;
}

.woocommerce-page.woocommerce-checkout table.shop_table td{
	opacity:1;
}

.ts-product-image{
	width: 60px;
}
@media only screen and (min-width:440px ) {
	.ts-product-image{
		width: 100px;
	}
}

.woocommerce-table__product-name a{
	float: left;
}

.woocommerce-columns--addresses{
	width: 100%!important;
	float: right!important;
}

.woocommerce-order-details, .woocommerce-order-details__title{
	width: 100% !important;
	float: left !important;
	margin: 0 auto;
	max-width: 100% !important;
}


.woocommerce-customer-details{
    /*background-color: orange;*/
    float: left;
    width: 100%;
}


.woocommerce-column--shipping-address{
	float: right!important;
}
.woocommerce-column--billing-address{
	float: left!important;
}

.woocommerce-column--shipping-address, .woocommerce-column--billing-address{
	width: 100%!important;
}

@media only screen and (min-width:600px ) {
	.woocommerce-column--shipping-address, .woocommerce-column--billing-address{
		width: 48%!important;
	}
}
@media only screen and (min-width:880px ) {
	.woocommerce-column--shipping-address, .woocommerce-column--billing-address{
		width: 100%!important;
	}
}


@media only screen and (min-width:880px ) {
	.woocommerce-customer-details{
		width: 36%!important;
		float: right!important;
	}
	.woocommerce-order-details{
		width: 60% !important;
		float: left !important;
	}

}



@media only screen and (max-width:768px ) {
	.woocommerce-order-overview__order, .woocommerce-order-overview__date, .woocommerce-order-overview__total, .woocommerce-order-overview__payment-method, .woocommerce-order-overview__email{
		margin-top: 10px!important;
		width: 50%!important;
		height: 40px!important;
		border-bottom: 1px solid #d3ced2!important;
		border-right: 0!important;
		margin-right: 0!important;
	}

	.woocommerce-order-overview__payment-method{
		width: 100%!important;
	}
}






