@font-face {
    font-family: helvetica neue;
    src: url(../fonts/helvetica/HelveticaNeueCondensedBold.woff) format("woff"), url(../fonts/helvetica/HelveticaNeue-CondensedBold.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url(../fonts/gotham/gotham-book-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/gotham/gotham-book-webfont.ttf) format("truetype"), url(../fonts/gotham/gotham-book-webfont.svg#gothambook) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url(../fonts/gotham/gotham-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/gotham/gotham-bold-webfont.woff) format("woff"), url(../fonts/gotham/gotham-bold-webfont.ttf) format("truetype"),
        url(../fonts/gotham/gotham-bold-webfont.svg#gothambold) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url(../fonts/gotham/gotham-medium-webfont.eot);
    src: url(../fonts/gotham/gotham-medium-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/gotham/gotham-medium-webfont.woff) format("woff"), url(../fonts/gotham/gotham-medium-webfont.ttf) format("truetype"),
        url(../fonts/gotham/gotham-medium-webfont.svg#gothammedium) format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url(../fonts/gotham/gotham-light-webfont.eot);
    src: url(../fonts/gotham/gotham-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/gotham/gotham-light-webfont.woff) format("woff"), url(../fonts/gotham/gotham-light-webfont.ttf) format("truetype"),
        url(../fonts/gotham/gotham-light-webfont.svg#gothamlight) format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-Medium.woff2) format("woff2"), url(../fonts/gotham_narrow/GothamNarrow-Medium.ttf) format("truetype"), url(../fonts/gotham_narrow/GothamNarrow-Medium.svg#GothamNarrow-Medium) format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-Light.woff2) format("woff2"), url(../fonts/gotham_narrow/GothamNarrow-Light.ttf) format("truetype"), url(../fonts/gotham_narrow/GothamNarrow-Light.svg#GothamNarrow-Light) format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-MediumItalic.woff2) format("woff2"), url(../fonts/gotham_narrow/GothamNarrow-MediumItalic.woff) format("woff"), url(../fonts/gotham_narrow/GothamNarrow-MediumItalic.eot?#iefix) format("embedded-opentype"),
        url(../fonts/gotham_narrow/GothamNarrow-MediumItalic.ttf) format("truetype"), url(../fonts/gotham_narrow/GothamNarrow-MediumItalic.svg#GothamNarrow-MediumItalic) format("svg");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-LightItalic.woff2) format("woff2"), url(../fonts/tradegothic/TradeGothicLTStd.ttf) format("truetype"), url(../fonts/tradegothic/TradeGothicLTStd.svg#TradeGothicLTStd) format("svg");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-BoldItalic.woff2) format("woff2"), url(../fonts/gotham_narrow/GothamNarrow-BoldItalic.ttf) format("truetype"), url(../fonts/gotham_narrow/GothamNarrow-BoldItalic.svg#GothamNarrow-BoldItalic) format("svg");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-Bold.woff2) format("woff2"), url(../fonts/gotham_narrow/GothamNarrow-Bold.ttf) format("truetype"), url(../fonts/gotham_narrow/GothamNarrow-Bold.svg#GothamNarrow-Bold) format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-BookItalic.woff2) format("woff2"), url(../fonts/gotham_narrow/GothamNarrow-BookItalic.ttf) format("truetype"), url(../fonts/gotham_narrow/GothamNarrow-BookItalic.svg#TradeGothicLTStd) format("svg");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: gotham narrow;
    src: url(../fonts/gotham_narrow/GothamNarrow-Book.woff2) format("woff2"), url(../fonts/gotham_narrow/GothamNarrow-Book.ttf) format("truetype"), url(../fonts/gotham_narrow/GothamNarrow-Book.svg#GothamNarrow-Book) format("svg");
    font-weight: 400;
    font-style: normal;
}

