.myMenu{
	width: 100%;
	max-width: 600px;
	display: none;
	float:left;
	overflow: auto;
}

.scrollable{
	float: left;
	width: 100%;
	max-width: 600px;
	height: 600px;
	overflow: hidden;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 


.myTopMenuBarWide{
	background-color: #000;
	width: 100%;
	height: 44px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 600;
}

.myTopMenuBar{
	width: 98%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
/*	background: #333;*/
	position: relative;
}

.mobileLogoHolder{
	width: 160px;
	height: 33px;
	position: absolute;
	top: 6px;
	left:50px;
	overflow: hidden;
	/*background-image:url("/wp-content/themes/astra/assets/images/mobileLogoWhite160.gif");*/
}
.animatedMenuMobileButton{
	position: absolute;
	top: 3px;
	left:0;
	width: 40px;
	height: 38px;
}

.mobileLoginContainer{
	background: #eee;
	text-align: left;
	float: left;
	width: 100%;
	max-width: 600px;
	height: auto;
}


.subscribeMenuButton{
	border-radius: 6px;
	color: #fff;
	background-color: #C60C21;
	padding: 2px 10px;
	float: right;
	cursor: pointer;
	margin: 2px 10px 0 0;
	display: none;
}

.subscribeMenuButton:hover{
	color: #fff;
	background-color: #990516;
	cursor: pointer;
}

@media only screen and (min-width: 540px ) {
	.subscribeMenuButton{
		display: block;
	}
}

@media only screen and (min-width: 601px ) {
	.mobileLoginContainer{
		display: none;
	}
}


.mobileMenuTopButtons{
	width: 120px;
	float: left;
	padding: 10px 0 10px 40px;
}


#mobileMenuMyAccount{
	background-image:url("/wp-content/themes/astra/assets/images/loginIcon.svg")!important;
	background-image:url("/wp-content/themes/astra/assets/images/mobile-login-icon.png");
	background-position: 5px 9px;
	background-repeat: no-repeat;
	width: 210px;
	background-size: 26px;
}

#mobileMenuWishlist{
	background-image:url("/wp-content/themes/astra/assets/images/wishlistIcon.svg")!important;
	background-image:url("/wp-content/themes/astra/assets/images/mobile-wishlist-icon.png");
	background-position: 5px 12px;
	background-repeat: no-repeat;
	background-size: 24px;
}

#mobileMenuMyAccount:hover{
	color: #c60c21;
}

#mobileMenuWishlist:hover{
	color: #c60c21;
}




@media only screen and (min-width: 1025px ) {
	.mobileLogoHolder{
		display:none;
	}
	.animatedMenuMobileButton{
		display:none;
	}
}




.myTopBarRightSide{
	/*background-color:purple;*/
	position: absolute;
	top: 2px;
	right:0;
	height: 42px;
	overflow: hidden;
}




.mobileMenuOverlay{
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	height: 100vh;
	position: fixed;
  	top: 42px;
  	left: 0;
  	bottom:0;
  	right: 0;
  	text-align: center;
  	z-index: 600;
  	margin: 0 auto;
  	color: #fff;
  	opacity: 0;	
  	display: none;
}




.myMenu>.menu-main-menu-container{
	font-family: 'Roboto', sans-serif;
}
.myMenu ul{
	list-style-type: none;
	width: 100%;
	/*background: #ebebeb;*/
	margin: 0;
	padding: 0;
}

/*///////////First level main buttons///////////////////*/
.myMenu>.menu-main-menu-container>#menu-main-menu>li>a{
		background-color: #fff;
		width: 100%;
		height: auto;
		padding: 12px 0 12px 2%;
		float: left;
		color: #000;
		text-decoration: none;
		border-bottom: 1px solid #ccc;
		font-size: 17px;
		font-weight: 700;
		font-family: var(--f-titlefont);
		text-align: left;
		background-image: url("/wp-content/themes/astra/assets/images/mobileMenuArrowDown.png");
		background-repeat: no-repeat!important;
		background-position: right 20px center!important;
}


.openArrow{
	background-image: url("/wp-content/themes/astra/assets/images/mobileMenuArrowUp.png")!important;
	background-repeat: no-repeat!important;
	background-position: right 20px center!important;	
}


/*///////////sub menus///////////////////*/
.myMenu>.menu-main-menu-container>#menu-main-menu>li>.sub-menu{
		
}
/*///////////OR///////////////////*/
.myMenu .sub-menu{
	background-color: #eee;
	overflow: hidden;
	margin: 0;
}

.myMenu .sub-menu>li{
	float: left;
	height: auto;
	width: 100%;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}

/*.myMenu .sub-menu>li:hover{
	background: black;
	color: white;
}
*/


/*///////////the links that are appended from myMobileMenu.js bc I soooooooooo dont want to create another menu ///////////////////*/
/*///////////also just the normal links to pages//////////////////*/
.myMenu .sub-menu>li>a, .injectedMenuItem{
	width: 94%;
	height: auto;
	padding: 12px 0 12px 6%;
	float: left;
	color: #333;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	font-family: var(--f-titlefont);
	text-align: left;
	text-transform: uppercase;
	
}

/*this fixes the injected item in specials. Its screwy since theyre all at 50%*/
.specialPaddingFix{
	padding: 6px 0 6px 3%;
}




.myMenu .sub-menu>li:hover, .myMenu .sub-menu>li:active, .injectedMenuItem:hover, .injectedMenuItem:active {
	background:#cfcfcf;
	color: #333;
}


/*#container:hover > #cube { background-color: yellow; }
.injectedMenuItem:hover > .injectedLI { background-color: yellow; }
*/

/*	only way to target "specials menu*/
#menu-item-3449>ul>li{
	width: 50%;
}




.menuNavButtonsHolder{
	float: right;
	margin-top:2px;
}

.newCart{
    float:right;
    width: 50px;
    height: 40px;
    cursor: pointer;
    margin: 2px 0 0 6px;
    background-image: url("/wp-content/themes/astra/assets/images/cartIcon.svg")!important;
  	background-image: url("/wp-content/themes/astra/assets/images/cartIcon.png");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 0 6px;
}

.itemCountCopy{
	display: inline-block !important;
	vertical-align: top !important;
	box-sizing: border-box !important;
	margin: 4px 0 0 26px !important;
	padding: 0 5px !important;
	min-width: 18px !important;
	height: 18px !important;
	border-radius: 9px !important;
	background-color: #ca4a1f !important;
	color: #fff !important;
	font-size: 11px !important;
	line-height: 1.6 !important;
	text-align: center !important;
}




.deskTopNavSearch{
    display: none;
}
@media only screen and (min-width: 922px ) {
    .deskTopNavSearch{
        display: block;
    }
}














/*/////////////////////////////////////////////////////////////Animated X effect///////////////////////////////////////////////*/
#nav-icon3{
  width: 28px;
  height: 36px;
  position: relative;
  margin: 0 auto 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}




#nav-icon3 span:nth-child(1) {
  top: 10px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 26px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


