/** Gotham font is glitchy, using Google fonts instead **/
:root {
	    --e-global-typography-primary-font-family: 'Heebo';
	
	--f-titlefont: 'Heebo';
	--f-bodyfont: 'Heebo';
	
	--c-primary: #c60c21;
}
html, body{
	height: 100%;
}
body {
	font-size: 17px;
}
body, button, input, select, textarea, .ast-button, .ast-custom-button {
	font-family:var(--f-bodyfont);
}
h1, h2, h3, h4, h5, .entry-content h3, .entry-content h3, .entry-content h3 a {
	font-family: var(--f-titlefont);
}


/* this will resize the main menu font to help fit the new "books" button */
.elementor-6963 .elementor-element.elementor-element-511f3f5e .elementor-nav-menu .elementor-item {
  font-size: 13px!important;
}






/*hide weird pay later thing on checkout page*/
.payment_method_wf_pay_later{
	display: none!important;
}

.elementor-nav-menu--layout-horizontal .elementor-nav-menu a {
	font-weight: 700;
	font-family: var(--f-titlefont);
}
.woocommerce form .form-row label {
	font-size: 105%;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce .woocommerce-message a.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce input.button, .woocommerce-cart table.cart td.actions .button, .woocommerce form.checkout_coupon .button, .woocommerce #respond input#submit, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
	font-family: var(--f-bodyfont);
	text-transform: uppercase;
}

.ast-single-post .entry-title, .page-title, h1, .entry-content h1, .entry-content h1 a {
	color: var(--c-primary);
	font-weight: 900;
	font-size: 3rem;
	font-family: var(--f-titlefont);
}

/*html, body{
	height: 100%;
}

body{
	margin-top:42px;
}
*/

/*mobile sliders 'sale banners'. originally were purple*/
.eael-woo-product-carousel-container.preset-3 .eael-product-carousel .eael-onsale {
    background: #0ba30b;
}






/** gap issue **/
.elementor-element[data-id="2da4b0e"] {
	margin-bottom: 0px;
}

/*GREAT this actually works. Stops iOS from zooming in when you enter something in an input[]*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

/*this keeps the newsletter at 940 and centered*/
#wpcf7-f83572-p77005-o2{
	max-width: 940px!important;
	margin: 0 auto!important;
}


/*paypal "OR" separater. We'll put this back when we have the CCBill credit card issue solved*/
.wcppec-checkout-buttons__separator{
	display: none!important; 
	color: #f5f5f5!important;
}



li.payment_method_paypal img, a.about_paypal{
  display: none !important;
}

.quantity{
	pointer-events: none!important;
}


.single-product div.product form.cart .quantity {
    float: none;
    margin: 0;
    display: inline-block;
}

.plus, .minus{
	background-color: #fff !important;
	color: #000!important;
}



/*make the buttons in the currentMagFeaturedContainer bigger everywhere*/
@media only screen and (max-width:600px ) {
	.currentMagFeaturedContainer .button{
		width: 70%;
		max-width: 206px;
	}
}


/*////////////////remove the venmo and Pay layout buttons from the paypal plugin on the CHECKOUT page/////////////*/
#woo_pp_ec_button_checkout div:nth-child(2){
	display: none;
}
#woo_pp_ec_button_checkout div:nth-child(3){
	display: none;
}

/*////////////////remove the venmo and Pay layout buttons from the paypal plugin on the CART page/////////////*/
#woo_pp_ec_button_cart div:nth-child(2){
	display: none;
}
#woo_pp_ec_button_cart div:nth-child(3){
	display: none;
}

/*////////////////remove the venmo and Pay layout buttons from the paypal plugin on the SIDE CART /////////////*/
#woo_pp_ec_button_mini_cart div:nth-child(2){
	display: none;
}
#woo_pp_ec_button_mini_cart div:nth-child(3){
	display: none;
}

/*////////////////remove the venmo and Pay layout buttons from the paypal plugin on the PRODUCT PAGE/////////////*/
#woo_pp_ec_button_product div:nth-child(2){
	display: none;
}
#woo_pp_ec_button_product div:nth-child(3){
	display: none;
}

@media (max-width: 768px) {
	.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
		width: 100%;
	}
}








/*remove the "downloads" button from the myaccount page*/
.woocommerce-MyAccount-navigation-link--downloads{
	display: none;
}


/*/////this is that default left sidebar that shows on the new 'blocks' cart and store page
the one with all the links to all the categories

 //////*/
#secondary{
	display:none;
}
.ast-left-sidebar{
	border: 0!important;
}


/*////////////////////side cart code here bc it goes on and off when using their editor/////////////////////////////*/
.xoo-wsc-qty{
	pointer-events: none;
}

/*this is the top bar saying how much till Free Shipping. Sometimes it doesnt show. Hopefully this forces it*/
.xoo-wsc-ship-bar-cont{
	display:block!important;
}


/*just hide the continue button. Seems like a waste*/
/*.xoo-wsc-ft-btn-continue{
	display: none!important;
}*/

.xoo-wsc-ft-btn-continue, .xoo-wsc-ft-btn-cart{
    /*background-color:#d3d3d3;*/
    background-color:#000!important;
    color:#fff!important;
    padding: 12px 0!important;
    border-radius: 4px!important;
}

.xoo-wsc-ft-btn-continue:hover, .xoo-wsc-ft-btn-cart:hover{
     /*background-color:#bcbcbc;*/
     background-color:#333!important;
}

.xoo-wsc-ft-btn-checkout{
     background-color:#c60c21!important;
     color:#fff!important;
     font-weight:bold!important;
     border-radius: 4px!important;
     padding: 12px 6px !important;
}

.xoo-wsc-ft-btn-checkout:hover{
     background-color:#9f0517!important;
     color:#fff!important;
}

.xoo-wsc-empty-cart .button{
	display:none!important;
}
/*////////////////////END side cart/////////////////////////////*/



/*styles the select dropdowns. like on the product pafe for cart count*/
.woocommerce .select2-container .select2-selection--single, .woocommerce select, .woocommerce-page .select2-container .select2-selection--single, .woocommerce-page select{
	height: 42px!important;
}

.xoo-wsc-basket{
	opacity:0!important;
}





.trademark{
	font-size: 14px;
	padding-bottom: 20px;
	vertical-align: super; 
}




#menu-2-835c113 li a{
    padding: 14px 20px!important;
}


.sub-arrow{
	display: none!important;
}
.menu-item-has-children{
	background-image: url("/wp-content/themes/astra/assets/images/menuArrowDown.png");
	background-position: right 20px;
	background-repeat: no-repeat;
}

/*.currentMagFeaturedContainer{
	overflow: hidden;
}*/

/*///////////////////////////////the NEW better product carousel!!!!!!!////////////////////////////////////////*/
.slick-track li{
	width: 204px;
	padding: 2px!important;
	background: white;
	/*box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);*/
	display: block;
	border:1px solid #D4D4D4;
}

.wcpscwc-product-slider .products li{
	margin-right: 10px !important;
}

.slick-track li a img.attachment-woocommerce_thumbnail{
	margin-top:4px!important;
}

/*this is the add to cart button when its checked. This keeps the margin the same as the normal button*/
.woocommerce ul.products li.product .button, .woocommerce-page ul.products li.product .button{
	margin-bottom: .5em!important;
}
.woocommerce ul.products li.product .onsale{
	padding:10px;
	background-color: #0ba30b;
	border: 2px solid #fff !important;
	/* line-height: 20px; */
	margin: 0;
}

/* sale button on the product page */
.woocommerce span.onsale, .wc-block-grid__product .wc-block-grid__product-onsale {
	background-color: #0ba30b!important;
}

/* sale button on the product page related products */
.woocommerce ul.products li.product .onsale {
	padding:0px;
}


.featuredMagWidget{
    text-align: center;
    position: relative;
	/*border:1px solid #d4d4d4;*/
}

.wcpscwc-product-slider ul.products {
    margin-bottom: 0;
}




/*remove the opacity:0 to edit the "featured mag" areas in Elementor*/
/*they start hidden for lazyLoad() but never load in Elementor bc the JS is never fired there*/
.featuredMagAreaContainer, .currentMagFeaturedContainer{
/*	opacity: 0;
	height: 500px;*/
}

.currentIssueBanner{
	position: absolute;
	top: 30px;
	left: -80px;
	transform: rotate(-36deg);
	background-color: #000;
	color: #fff;
	width: 300px;
	padding:0px;
	font-size: 20px;
	border:2px solid #fff;
	z-index: 10;
}
.bonusDVDBanner{
	position: absolute;
	top: 30px;
	left: -80px;
	transform: rotate(-36deg);
	background-color: #fff;
	color: #000;
	width: 300px;
	padding: 6px;
	font-size: 18px;
	border: 1px solid #fff;
	z-index: 10;
	text-align: center;
	font-weight: bold;
	display: none;
}

@media only screen and (min-width:1024px ) {
/*	.bonusDVDBanner{
		display: block;
	}*/
}

.bonusDVDBannerBottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 185px;
	height: 148px;
	background-image: url("/wp-content/themes/astra/assets/images/bonusDVDCornerBottom.png");	
	z-index: 10;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: left bottom;
	pointer-events: none;
}

@media only screen and (min-width:600px ) {
	.bonusDVDBannerBottom{
		background-size: 80%;
	}
}
@media only screen and (min-width:1024px ) {
	.bonusDVDBannerBottom{
		background-size: 100%;
	}
}







input[type=text],input[type=email],textarea {
	/* background-color: #ebebeb!important; */
	border: 1px solid #bcbcbc;
}

.contactFormCell>.elementor-widget-wrap{
    padding-top:0!important;
    background:orange;
}
.contactFormReply{
	padding: 20px;
	text-align: center;
	background: #2ba92b;
	color: #fff;
	margin-bottom:0;
}

/*not really sure how this works but it seems to fix a weird layout bug where on mobile at around 500px, 
all odd product images were bigger and messing up the page*/
.woocommerce .elementor-element.elementor-products-grid ul.products li.product{
	width:100%;
}


.add_to_cart_button{
	color: #fff!important;
	background: #c50c20!important;
	padding: 6px!important;
	border-radius: 4px!important;
}
.add_to_cart_button:hover{
	background: #000!important;
}

.myNewAddToCartLink {
	width: 92%!important;
	color: #fff!important;
	text-align: center!important;
	background: #c50c20!important;
	padding: 6px 0!important;
	margin: 0 auto!important;
	display: block!important;
	border-radius:4px!important;
    position:absolute!important;
    bottom: 6px!important;
}

.added_to_cart,.wc-forward{
	width: 90% !important;
	color: #fff !important;
	text-align: center !important;
	background: #c50c20 !important;
	padding: 2px 0 !important;
	margin: 0 auto !important;
	display: none !important;
	border-radius: 4px !important;
	position: absolute !important;
	bottom: 6px !important;
	font-weight: bold!important;
	margin-bottom: .5em!important;
}

.added_to_cart:hover,.wc-forward:hover{
	background: #000!important;
}



.eael-product-price{
	position: absolute!important;
    bottom: 46px!important;
    color: #000!important;
    width: 100%!important;
    left: 0!important;
}


.myNewAddToCartLink:hover {
	background: #000!important;
	color: #fff!important;
}




/*these prevent the "view cart" button from showing in the shop. WHy its showing at all, I have no idea*/
.astra-shop-summary-wrap .added_to_cart {
	display: none!important;
}

.astra-shop-summary-wrap .wc-forward {
	display: none!important;
}


/*.myAddToCartButton{
	background-color: #000;
	color: #fff;
	width: 100%;
	float: left;
	text-align: center;
	padding:4px 0;
}
*/



/*this controls the icons hover popup in the carousel*/
/*keep them at -50. You can do display:none bc that hides the cloned() button at the bottom*/
.icons-wrap{
	bottom: -50px!important;
}

.eael-woo-product-carousel-container .icons-wrap.block-style{
	bottom: -50px!important;	
}




/* shitty way to do it but these prevent the mag covers in the mag homepage style mag sliders from showing the current mag
Since we show the current mag on the left as the big cover
 */
/* hustler*/
/*ul.swiper-wrapper>.post-15872{display: none;}*/
/* BL*/
/*ul.swiper-wrapper>.post-15874{display: none;}*/
/* Taboo*/
/*ul.swiper-wrapper>.post-15876{display: none;}*/

ul.eael-woo-product-carousel li :first-of-type{
  background-color: yellow!important;
}

.woocommerce div.product div.images img{
	width:none!important;/* this isnt a correct value but prevents some sillyness */
}
.eael-product-popup-details{
	height:auto!important;
}
.eael-popup-details-render{
	width:90%!important;
}


/* ////////////////////////////////////////////control the currentMagArea responsive layout/////////////////////////////////////////////// */
/*.currentMagFeaturedContainer{
	width:100%!important;
}*/

/*.currentMagSliderHalf{
	width:100%!important;
}*/

.phoneCarousel{
	display: block;
}

.betterCarousel{
	display:none;
}

@media only screen and (min-width:600px ) {
	.phoneCarousel{
		display: none;
	}	
	.betterCarousel{
		display:block;
	}
/*	.currentMagFeaturedContainer{
		width:40%!important;
	}*/

/*	.currentMagSliderHalf{
		width:60%!important;
	}*/
}

/*@media only screen and (min-width:768px ) {
	.currentMagFeaturedContainer{
		width:30%!important;
	}

	.currentMagSliderHalf{
		width:70%!important;
	}
}*/

.featuredMagAreaContainer{
	/*display: none;*/
}





.featuredMagMainAndSliderContainer>.elementor-container{
	padding: 0;
}

.wcpscwc-product-slider button.slick-prev {
    background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/leftArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
	left:0;
}

.wcpscwc-product-slider button.slick-prev:hover {
    background: #000 url(/wp-content/themes/astra/assets/images/leftArrowHover.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
}

.wcpscwc-product-slider button.slick-next {
    background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/rightArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
}

.wcpscwc-product-slider button.slick-next:hover {
    background: #000 url(/wp-content/themes/astra/assets/images/rightArrowHover.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
}





/*/////////////////this is the Big mag in the featured mag areas////////////////////*/
/*///////////some jQuery is used with this too, for future you//////////////*/
/*.currentMagFeaturedContainer{

    text-align: center;

    position: relative;
    overflow: hidden;

}
.currentMagFeaturedContainer li{
   width:96%!important;
   margin: 2% auto!important;
}

.currentMagFeaturedContainer ul{
   margin-bottom:0!important;
}

.currentMagFeaturedContainer .onsale{
	font-size: 22px!important;
	padding: 10px!important;
	background: #0ba30b!important;
	border: 2px solid #fff!important;
}*/

.swiper-container-wrap, .eael-woo-product-carousel{
/*	height:auto!important;
	background-color: pink;*/
}

.astra-shop-thumbnail-wrap{
	position: relative;
}


.astra-shop-summary-wrap{
	text-align: center!important;
}

.featuredMagOverlay{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	text-align: center!important;
}

.featuredMagOverlay .ast-loop-product__link{
	width:100%!important;
	text-align: center;
	color: #fff!important;
}
.featuredMagOverlay .price{
	width:100%;
	text-align: center;
	color: #fff!important;
	font-size: 18px!important;
}
.featuredMagOverlay .productMagSubTitle, .featuredMagOverlay .productMagTitle{
	width:100%;
	text-align: center;
	color: #fff!important;
	font-size: 18px!important;
}



.featuredMagOverlay .button{
	float: none;
	margin: 0 auto!important;
	text-align: center;
}

.clonedProductInfo{
	display: block!important;
}

/* /////////////////////////tweaks for the XXX page ///////////////////////////*/
/* No greater than 768px, no less than 460 */
@media (max-width:768px) and (min-width:460px) {
    
    .xxxCell{
        display:block;
        width: 50%;
        border:0;
       /* box-shadow: 0 3px 10px rgb(0 0 0 / 0)!important;*/
    }


    .xxxCell>div{
        border:0;
       /* box-shadow: 0 3px 10px rgb(0 0 0 / 0)!important;*/
       box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0);
    }
}

@media only screen and (min-width:768px ) {
	.xxxCell>div{
		border:0px solid #fff;
	    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.58);
	}
}




/* //this gets rid of the annoying overlay effect on the main header nav/////*/
.site-header{
	position: relative!important;
}


/* ///// sites header intro text headings/////*/

.pageHeading h1{
	font-size: 20px!important;
	margin-top: 2px!important;

}
.subHeading h2{
	font-size: 14px!important;
	margin-bottom: 4px!important;
}

@media only screen and (min-width:768px ) {
	.pageHeading h1{
		font-size: 26px!important;
		margin-top: 2px!important;

	}
	.subHeading h2{
		font-size: 20px!important;
		margin-bottom: 6px!important;
	}
}

@media only screen and (min-width:900px ) {
	.pageHeading h1{
		font-size: 28px!important;
		margin-top: 0px!important;

	}
	.subHeading h2{
		font-size: 22px!important;
		margin-bottom: 6px!important;
	}
}





/* ////edits the annoying space on the top mobile 'current magazine' areas/////*/
/* ////this class is added through Elementor/////*/
.currentIssueMobileHeader{margin-bottom: 2px!important;}


/* ////category slider/////*/
.swiper-slide-inner{
	/*background:orange;*/
}
.swiper-slide-inner img{
	/*width:90%;*/
}





/* ////////////////////////////////////////////////edits the mags in carousels///////////////////////////////////////////*/
/* //adds some padding to the mags in the carousels./////*/
.eael-product-carousel{
	padding:8px!important;
}



.styledMagTitle,.styledMagDate{
	color: #000;
	font-size: 16px;
	line-height: 0.7em;
	margin: 0 0 10px 0;
	font-weight: 800;
	display: block;
	text-align: center;
	width: 100%;
	line-height: 18px !important;
	margin-bottom: 2px !important;
}

.styledMagDate{
	color: #000;
	font-size: 15px!important;
}

.featuredMagOverlay>a>.woocommerce-loop-product__title>.styledMagTitle{
	color:#fff!important;
	font-size: 18px!important;
	margin-top:6px;
	font-weight: bold;
}

.featuredMagOverlay>a>.woocommerce-loop-product__title>.styledMagDate{
	color:#ccc!important;
	font-size: 16px!important;
}





/* ////////////////changes color of links in main menu /////////////////////*/
#ast-hf-menu-1 li a, #ast-hf-menu-1 li {
	color: black;
	font-size: 12px!important;
}

.main-navigation {
	font-size: 12px!important;
}


/* ////////////////top menu /////////////////////*/
.mobileLogoNavCell{
	float: left;
	width: 160px!important;
}

.mobileMenuNavCell{
	float: left;
	width: 40px!important;
	/*background:orange;*/
	padding-top: 3px;
}

/* //targets the mobile logo//*/
.elementor-element-d11c794{
	text-align: left!important;
}

.elementor-nav-menu--dropdown {
	width:300px;
}


@media only screen and (max-width: 1024px ) {
	/* //add some apce to the top black nav//*/
	[data-id="579a368a"]{
		margin-top:4px!important;
		margin-bottom:4px!important;
	}
}

.deskTopNavSearch{
	display: none;
	float: right;
	margin-top:3px;
}

.cartHolder{
	width: 22px!important;
	float: right;
	height: 40px;

}
@media only screen and (min-width: 768px ) {
	.cartHolder{
		margin-top: 0;
		margin-right: 10px;
	}
}

.woocommerce .widget_product_search, .woocommerce-product-search{
	height: 34px!important;
	width: 100%!important;
	float: left;
}

.elementor-6963 .elementor-element.elementor-element-de8d594{
	width: 300px!important;
	background-color: #c50b20!important;
}


.woocommerce-product-search button{
	background-color: #000;
	width: 30px!important;
	background-image: url("/wp-content/themes/astra/assets/images/searchIconSmallWhite.svg")!important;
	background-image: url("/wp-content/themes/astra/assets/images/search-icon.png");
    background-position: 6px 5px;
    background-repeat: no-repeat;
    background-size: 26px;
}
.woocommerce-product-search button:hover{
	background-color: #c50b20;
}


.deskTopNavSearch .aws-search-form {
	height: 34px;
	
}

@media only screen and (min-width: 922px ) {
	.deskTopNavSearch{
		display: block;
	}

}


.navWrapper .elementor-container{
	display: block;
    width: 100%;
    height:40px;
    max-width: 1200px;
    float: right;
    /*background-color: pink;*/
}

/*this removes some annoying padding on the mobile header nav;*/
.elementor-6963 .elementor-element.elementor-element-579a368a>.elementor-container{
	padding:0!important;
}



@media only screen and (min-width: 1200px ) {
	.navWrapper .elementor-container{
		margin-right:0;
	}
}






.topMenuBarWide{
	background-color: black;
	width: 100%;
	height: auto;
}

.topMenuBar{
	width: 94%;
	max-width: 1200px;
	height: auto;
	padding:2px 0;
	margin: 0 auto;
	color: white;
	text-align: right;

}

@media only screen and (min-width: 1200px ) {
	.topMenuBar{
		width: 100%;
	}
}

@media only screen and (max-width: 768 ) {
	#ast-hf-menu-1 li a, #ast-hf-menu-1 {
		
	}
}

.menuNavButtonsHolder a{
	height: auto;
	padding: 0 4px;
	color: white;
	font-size: 14px;
	float: right;
	overflow: hidden;
	margin: 7px 6px 0 6px;

}

.menuNavButtonsHolder a:hover{
	color: red;
}

.menuNavButtonsHolder span.divide{
	float: right;
	margin-top: 6px;
	color: #999!important;
}

.menuNavButtonsHolder span.divide .wishlist{
	display: block;
}
@media only screen and (min-width: 921px ) {
	.menuNavButtonsHolder span.divide.wishlist{
		display: none;
	}
}


.loginIcon{
	width: 30px;
	height: 30px!important;
	/*background-image: url("https://woocomm.hustlernewsstand.com/wp-content/themes/astra/assets/images/login-icon.png");*/
	background-position: top center;
	margin-left: 8px;
}

.loginIcon:hover{
	background-position: bottom center;
}

/*carousel arrows*/
.eicon-chevron-left, .eicon-chevron-right{
	background: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.6);
	padding: 6px;
}






/* ////////////////////////////////////////////////Search Bars/////////////////////////////////////////////////////*/
.headerSearchBarContainer{
	float: right;
	width: 340px;
	margin-right: 10px;
	display: none;
}


.mobileSearchCloseWrapper{
	text-align: right;
	color: #fff;
	margin: 18% auto 0 auto;
	padding: 0;
	height: auto;
	overflow: hidden;
	width: 90%;
	max-width: 600px;
}

@media only screen and (min-width: 600px ) {
	.mobileSearchCloseWrapper{
		margin: 10% auto 0 auto;
	}
}
.mobileSearchCloseWrapper p{
	margin: 0 10px 0 0;
	padding: 0;
	font-size:28px;
	float: right;
	display: none;
}

.mobileSearchCloseWrapper span{
    margin: 0;
    padding: 2px 16px;
    float: right;
    font-weight: bold;
    font-size: 24px;
    /* line-height: 40px; */
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer; 
}

.mobileSearchButton{
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 0;
	margin-right: 4px;
	cursor: pointer;
	display: block;
	background-image: url("/wp-content/themes/astra/assets/images/search-icon.png");
	background-position: top center;
}

@media only screen and (min-width: 921px ) {
	.headerSearchBarContainer{
		display: block;
	}
	.mobileSearchButton{
		display: none;
	}
}

.mobileSearchOverlay{
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	height: 100vh;
	position: fixed;
  	top: 0;
  	left: 0;
  	bottom:0;
  	right: 0;
  	text-align: center;
  	z-index: 100;
  	margin: 0 auto;
  	color: #fff;
  	display:none;
  	opacity: 0;
}

.mobileSearchContainer{
	width: 90%;
	max-width: 600px;
	height: auto;
	margin:10% auto 0 auto;
}
.mobileSearchContainer>.woocommerce-product-search>#woocommerce-product-search-field-1{
	height: 60px;
	margin-top: 5px;
}
.mobileSearchContainer>.woocommerce-product-search>button{
	height: 60px;
	margin-top: 5px;
	width: 50px;
	background-color: transparent;
	background-image: url("/wp-content/themes/astra/assets/images/searchIconSmallWhite.svg")!important;
	background-image: url("/wp-content/themes/astra/assets/images/mobile-search-icon.png");
	background-position: 4px 10px;
	background-size: 44px;
}
.mobileSearchContainer>.aws-container>.aws-search-form {
	height: 60px;
	margin-top: 5px;
}
.mobileSearchContainer>.aws-container{
	height: 60px;
}

.mobileSearchContainer>.aws-container .aws-search-btn{
	height: 60px;
	width: 60px;
}

.mobileSearchContainer>.aws-container .aws-search-btn_icon{
	height: 60px;
	width: 60px;
}



.mobileSearchContainer>.aws-container>.aws-search-form>.aws-wrapper>.aws-search-field{
	font-size:22px;
}

/* ///this is the actual desktop search form. Not the custom container///
/*.headerSearchBarContainer>.aws-container>.aws-search-form {
	height: 36px;
	margin-top: 5px;
}*/


/* //////this will hide the descriptions from showing in the search result dropdown//////*/
.aws-search-result .aws_result_excerpt{
	display:none;
}





/* ////////////////this is the top nav bar generated in Astra for now /////////////////////*/
/* //////IF we even have one. This is how you hide it ///////////*/
.ast-above-header-wrap {
	display:none;
}


.ast-primary-header-bar, .ast-main-header-wrap, .ast-desktop-header, .site-header{
	background-color: rgba(255,255,2555,1)!important;
}



/* ////////////////playing with the dropdown styles/////////////////////*/
.main-header-menu .sub-menu {
    border-color: #fff;
    width: 240px;
}

.main-header-menu .sub-menu li{
    background: #d6311f;
    color: #fff;
    transition: background-color 0.5s ease;
}

.main-header-menu .sub-menu li:hover{
    background: #781005;
}


@media only screen and (max-width: 921px ) {
	.main-header-menu .sub-menu li a.menu-link{
/*	    padding-top:10px!important;
	    padding-bottom:10px!important;*/
	}
}


@media only screen and (min-width: 921px ) {
	.main-header-menu .sub-menu li a.menu-link{
	    color: #fff!important;
	}
}


/* ///////////////////////////////////////////LOGO HACK//////////////////////////////////////////////*/
/* /for some reason the CMS wont let me change the mobile logo so I control its container here/*/
/* /  some code is also done in the overwrite-tweaks.js file  /*/


.site-header-primary-section-left{
	/*background-color: rgba(0,0,0,0.5);*/
	max-width: 220px;
}


@media only screen and (min-width: 1000px ) {
	.site-header-primary-section-left{
		/*background-color: yellow;*/
		max-width: 260px;
	}
}


/* ///////////////////////////////////////////MY ACCOUNT PAGE//////////////////////////////////////////////*/
/* /  targets the header image on the 'my account' page /*/
[data-id="0e916b3"] {
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0!important;
}

.elementor-section-wrap{
	background-color: #fff;
}

/* ///////////////////////////////////////////edits woocommerce products//////////////////////////////////////////////*/
.productMagTitle{
	width: 100%;
	float: left;
}

.productMagSubTitle{
	width: 100%;
	color: #999;
	float: left;
	font-weight: normal;
}

.ast-loop-product__link{
	float: left;
	margin-bottom: 6px;
	width: 100%!important;
}

/* ///////////////////////////////////////////FOOTER//////////////////////////////////////////////*/
/*footer, .site-below-footer-wrap{
	background:#000!important;
}
*/
footer a, .site-below-footer-wrap p, .ast-builder-html-element p{
	margin-bottom:10px!important;
}
.site-primary-footer-wrap {
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}
.astra-footer-menu{
	margin-bottom:0!important;
}
footer a:hover{
	color:#c60c21!important;
}

.site-primary-footer-wrap{
	padding:0;
}

.search404 .woocommerce-product-search button{
    background-position: 7px 4px;
}
.heading404 h2{
	font-size: 20px!important;
}
.subHeading404 h4{
	font-size: 16px!important;
}
@media only screen and (min-width: 1000px ) {
	.heading404 h2{
		font-size: 28px!important;
	}
	.subHeading404 h4{
		font-size: 22px!important;
	}
}


/*//////////////////////////store pagination/////////////////////////////////////*/
.woocommerce nav.woocommerce-pagination ul li{
	margin: 0 10px 5px 0;
}





/*//////////////////////////new MOBILE carousels plugin/////////////////////////////////////*/

@media only screen and (min-width: 600px ) {
    .mobileSlider{
        display:none;
    }
}

.owl-item{
    padding: 6px;
    background: #fff;
    border: 1px solid #ccc;
}

figcaption{
    background-color: #fff!important;
}

.pro_price_area{ 
    color:#000!important;
}

.wpb_slider_area .owl-theme .owl-nav {
    position: absolute;
    top: 0!important;
    right: 0!important;
    margin: 30% 0 0 0!important;
    width: 100%!important;
    pointer-events: none;
}

.owl-prev{
	float: left;
	pointer-events: auto;
	width: 50px!important;
	height: 50px!important;
	margin: 0!important;
	background-color: #fff!important;
	-webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
	background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/leftArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
}

.owl-next{
	float: right;
	pointer-events: auto;
	width: 50px!important;
	height: 50px!important; 
	background-color: #fff!important;
	-webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
	background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/rightArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
}


/*disables the zoom scroll effect on the product page*/
.woocommerce-product-gallery__image>img{
	top:0!important;
	left: 0!important;
	opacity: 0!important;
}

.pswp{
	display: none!important;
}
#elementor-lightbox-slideshow-single-img{
	display: none!important;
}

.productPageOverlay{
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	height: 100vh;
	position: fixed;
  	top: 0px;
  	left: 0;
  	bottom:0;
  	right: 0;
  	text-align: center;
  	z-index: 600;
  	margin: 0 auto;
  	color: #fff;
  	opacity: 0;	
  	display: none;	
  	cursor: pointer;
}

.productImageHolder{
	margin: 1% auto 1% auto;
	text-align: center;
	max-width: 700px;
	cursor: pointer;
}

.myLightBoxImage{
	margin: 0 auto;
}

.myLightBoxCloseButton{
	position: fixed;
	top: 10px;
	right: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	background-color: #000;
	padding: 10px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 6px;
	z-index: 900;
	opacity: 0;
	display: none;
	cursor: pointer;
}

.myLightBoxCloseButton:hover{
	background-color: #c50b20;
}

.elementor-image-carousel-caption{
	background-color: transparent !important;
}

/*arrows for the related products carousel plugin*/
.glide__arrow{
	border-radius: 0!important;
	background-color: #fff!important;
	border: 1px solid #000!important;
}
.glide__arrow img{
	display: none;
}

.glide__arrow--left{
	background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/leftArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    left: -10px!important;	
}
.glide__arrow--right{
	background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/rightArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;	
    right: -10px!important;	
}

.woocommerce_product_description p{
	float: left;
	width: 100%;
}

/*hide it at first since we're changing the text with JS. Then once it's changed, reveal the button... with JS*/
.tinv-wishlist .wc-backward{
	background-color: #000!important;	
	color: #fff!important;	
}
.tinv-wishlist .wc-backward:hover{
	background-color: #c50b20!important;		
}

.woocommerce-MyAccount-content a{
	color: #c50b20!important;		
}
.woocommerce-MyAccount-content a:hover{
	text-decoration: underline!important;		
}


.woocommerce-orders-table__cell-order-actions a{
	background-color: #000!important;
	color: #fff!important;
	margin-right: 2px!important;		
}
.woocommerce-orders-table__cell-order-actions a:hover{
	background-color: #c50b20!important;
	text-decoration: none!important;			
}

.woocommerce-MyAccount-content .woocommerce-Button--next, .woocommerce-MyAccount-content .woocommerce-Button--previous {
	background-color: #000!important;
	color: #fff!important;		
}
.woocommerce-MyAccount-content .woocommerce-Button--next:hover, .woocommerce-MyAccount-content .woocommerce-Button--previous:hover  {
	background-color: #c50b20!important;
	text-decoration: none!important;		
}

.woocommerce-MyAccount-navigation-link a:hover, .woocommerce-MyAccount-navigation-link a:active{
	color: #c50b20!important;
}

.woocommerce-MyAccount-navigation-link.is-active a{
	background-color: #e1e1e1!important;
	color: #333!important;	
}



/** Woocomm Thank You Page Fixes **/
.order-thankyoutext {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.25rem;
	
}
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details
{
	font-size: 110%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
	body.woocommerce-checkout.woocommerce-order-received h1.elementor-heading-title {
		display: none;
	}
	body.woocommerce-checkout.woocommerce-order-received .elementor-element.elementor-element-2da4b0e {
		display: none;
	}

/** Mini Cart Styling **/
.xoo-wsc-ft-amt-shipping.add .xoo-wsc-ft-amt-value {
	font-size: 80%;
	line-height: 1.2;
	display:block;
}
a.xoo-wsc-ft-btn {
	text-transform: uppercase;
}