/* ///////////////////////////////////////////Product Page//////////////////////////////////////////////*/
/*.elementor-top-section, .ast-main-header-wrap .main-header-bar-wrap, #ast-desktop-header {
	max-width: 1200px;
	margin: 0 auto;
	border-bottom: 0!important;
}
*/
.woocommerce_product_description{
	line-height: 14px!important;
}

.productPageTitle{
	width: 100%;
	float: left;
	margin-top:6px;
}


.productPageSubTitle{
	color:#999;
	width: 100%;
	float: left;
	font-size: 22px;
	margin-top:2px;
	font-weight: normal;
}

/*this is the view cart button that appears after you click "add to cart" button*/
.added_to_cart, .wc-forward{
	display: none!important;
}

[title~="view"] {
  display: none!important;
}


/*	.ast-header-break-point .main-header-menu{
		border-top-width:1;
	}*/

/*gets rid of an annoying border on desktop right under the nav*/
@media only screen and (min-width: 1200px ) {
/*	.ast-header-break-point .main-header-menu{
		border-top-width:0;
	}*/
}


.woocommerce .quantity .qty {
    height: 42px;
}


/*this is the area surrounding the top product area ... i THINK*/
.elementor-4793 .elementor-element.elementor-element-21b14e10{
	padding-top:0.5%!important;
}

/*top area with product*/
[data-id="21b14e10"]{
	max-width: 1200px;
	margin: 0 auto;	
	padding-bottom: 0!important;
}

/*bottom wide area*/
[data-id="110a0a05"]{
	max-width: 100%;
	background-color: #fff;
}


/*container for the related mags*/
[data-id="4ed5f3f2"]{
	max-width: 1200px;
	margin: 0 auto;	
}	


/* .ast-woocommerce-container{
	max-width: 1200px;
	margin: 0 auto;
}*/


.ast-container{
	width: 100%;
	max-width: 100%;
	margin:0;
	padding:0;
}

.elementor-section-wrap{
	background-color: #ebebeb!important;
}

#primary{
	margin:0!important;
	padding:0;
}

@media only screen and (min-width: 1024px ) {
	ul.products > li{
		width: 15%!important;
	}
}

/*popup image*/
.pswp__img{
	height:auto!important;
}

/*.pswp__zoom-wrap{
	transform: translate3d(666px, 0px, 0px) scale(1);
}*/


.magInfoCell> .elementor-widget-wrap{
	padding-top:0!important;
}
.woocommerce-product-attributes {
	margin-bottom: 0!important;
	
}

.woocommerce-product-attributes-item__label{
	background-color: #b00000;
	width: 100%!important;
	float: left;
	color: #fff;
	background-image: url("/wp-content/themes/astra/assets/images/bonusDVDmobile.png"), url("/wp-content/themes/astra/assets/images/bonusDVDmobileBG.jpg");
	background-repeat: no-repeat, repeat;
	background-position: center center, top right;
	padding:36px 0!important;
	display: block;

}
.woocommerce-product-attributes-item__value{
	display:none;
}

@media only screen and (min-width: 920px ) {
	.bonusDVDcornerDisplay{
		background-image: url("/wp-content/themes/astra/assets/images/bonusDVDCorner.png");
		background-repeat: no-repeat;
		background-position: top right;
	}
	.woocommerce-product-attributes-item__label{
		display:none;

	}
}

.elementor-widget-wl-single-product-image, .woocommerce-product-gallery{
	margin-bottom: 0!important;
}
.woocommerce-product-gallery__image{
	position:relative;
}


/*related products plugin tweak. Only use for phones since itll show 2 mags*/

/*container for the related carousel areas*/
[data-id="09ee04f"] .elementor-container{
	padding:0!important;
}

/*container for the related carousel we hack onto the page with the shortcode*/
.mobileRelatedTitles{
	display: block;
}

/*this is the slider plugin for mobile using the owl slider*/
.desktopRelatedTitles {
	display: none;
}
.desktopRelatedTitlesHeader{
	display: none;
}



@media only screen and (min-width: 768px ) {
	.mobileRelatedTitles{
		display: none;
	}

	/*this is the slider plugin for mobile using the owl slider*/
	.desktopRelatedTitles {
		display: block;
	}
	.desktopRelatedTitlesHeader{
		display: block;
	}
}


.mobileRelatedTitles{
	position: relative;
}


.mobileRelatedTitles button.arrow-prev {
    background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/leftArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
	position: absolute;
	z-index: 10;
	top:230px;
	left:0;
}

.mobileRelatedTitles button.arrow-prev:hover {
    background: #000 url(/wp-content/themes/astra/assets/images/leftArrowHover.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
	position: absolute;
	z-index: 10;
	top:230px;
	left: 0;
}

.mobileRelatedTitles button.arrow-next {
    background: rgb(255, 255, 255) url(/wp-content/themes/astra/assets/images/rightArrow.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
	position: absolute;
	z-index: 10;
	top:230px;
	right: 0;
}

.mobileRelatedTitles button.arrow-next:hover {
    background: #000 url(/wp-content/themes/astra/assets/images/rightArrowHover.png) center center no-repeat !important;
    background-size: auto!important;
    background-size: 15px 26px !important;
    outline: none !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65); 
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.65);
	position: absolute;
	z-index: 10;
	top:230px;
	right: 0;
}



.customNavigation{
	display: none;
}







.woocommerce-LoopProduct-link{
	text-align: center!important;
}
.woocommerce-LoopProduct-link img{
	width: 96%!important;
}
