/* ///////////////////////////////////////////STORE//////////////////////////////////////////////*/
/*.searchedTerm, .searchedTerm h1{
	text-align: center;
	font-size: 28px;
	color: #666;
	padding:10px 0 10px 0;
}

.searchedTerm span{
	font-weight: bold;
	color: #333;
}

.elementor-widget-woocommerce-breadcrumb{
	height: 26px;
}*/