<style>
  .thankyouContainer{

  }  

  #error-page{
    color: #fff;
  }

  .thankyouNote{
    color: #444;
  }

  .thankyouContainer p{
    margin: 0!important;
    padding: 0!important;
    color: #444;
  }
  .thankyouContainer p span{
    font-weight: bold;
    color: #444;
  }
  .thankyouContainer h2{
    margin: 0 0 0 0!important;
    padding: 10px 0 0 0!important;
    border-bottom: 0 solid #ccc;
    background-color: #fff;
    color: #444;
  }

  .thankyouContainer .info{
    padding: 0 0 10px 0;
    overflow: hidden;
    display: block;
    background-color: #f4f4f4;;
    color: #444;
  }

  .thankyouContainer a{
    padding: 8px 14px;
    background-color: #444;
    color: #fff;
    margin:10px 10px 0 0;
    text-decoration: none;
    float: left;
  }

  .thankyouContainer a:hover{
    color: #fff;
    background-color: #000;
  }



  .thankyouContainer .leftSide{
    float: left;
    width: 100%;
  }
  .thankyouContainer .rightSide{
    float: right;
    width: 100%;
  }

/*  @media only screen and (min-width: 500px ) {
    .thankyouContainer .leftSide{
      width: 50%;
    }
    .thankyouContainer .rightSide{
      width: 50%;
    }
  }*/




  .thankyouContainer .leftSide p{
    padding:2px 0 0 10px!important;
  }
  .thankyouContainer .rightSide p{
    padding:2px 0 0 10px!important;

  }



  .wp-die-message{
    margin: 0!important;
  }

  .thankyouLogo{
    width: 100%;
    height: 60px;
    background-image: url("/wp-content/themes/astra/assets/images/newstandLogo-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
  }

  .thankyouImage{
    width: 100%;
    height: 273px;
    background-image: url("/wp-content/themes/astra/assets/images/thankyou-hailey.jpg");
    background-position: right -100px center;
    background-repeat: no-repeat;   
  }

@media only screen and (min-width: 600px ) {
  .thankyouImage{
    background-position: center center;
  }
}
</style>


