html, body{
	height: 100%;
}

/*now called inline right below the <body> tag*/
/*body{
	margin-top:42px;
}*/


.customNavWrapper{
	display: none;
}

.navLogoArea{
	background-image: url("/wp-content/themes/astra/assets/images/newstandLogo-bg.png");
	background-repeat: no-repeat;
	background-position: left center;
}




@media only screen and (min-width: 1025px ) {
/*now called inline right below the <body> tag*/	
/*	body{
		margin-top:96px;
	}*/
	.customNavWrapper{
		display: block;
	}
}

/*//////////////////////////////featured MAG area//////////////////////////////////////*/
.currentMagFeaturedContainer{
	overflow: hidden;
}

.currentMagFeaturedContainer{
	width:100%!important;
}

.currentMagSliderHalf{
	width:100%!important;
}

@media only screen and (min-width:600px ) {

	.currentMagFeaturedContainer{
		width:40%!important;
	}
	.currentMagSliderHalf{
		width:60%!important;
	}
}



@media only screen and (min-width:767px ) {
	.currentMagFeaturedContainer{
		width:30%!important;
	}

	.currentMagSliderHalf{
		width:70%!important;
	}
}

@media only screen and (min-width:1023px ) {
	.currentMagFeaturedContainer{
		width:25%!important;
	}

	.currentMagSliderHalf{
		width:75%!important;
	}
}


@media only screen and (min-width:1025px ) {
	.currentMagFeaturedContainer{
		width:27%!important;
	}

	.currentMagSliderHalf{
		width:73%!important;
	}
}






@media only screen and (min-width:1200px ) {
	.currentMagFeaturedContainer{
		width:25%!important;
	}

	.currentMagSliderHalf{
		width:75%!important;
	}
}







.currentMagFeaturedContainer{
/*    background: #fff;*/
    text-align: center;
    /*box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);*/
    position: relative;
    overflow: hidden;
/*    border:1px solid #d4d4d4;*/
}
.currentMagFeaturedContainer li{
   width:100%!important;
   margin: 0 auto!important;
}

.currentMagFeaturedContainer ul{
   margin-bottom:0!important;
}
/*.currentMagFeaturedContainer .ast-loop-product__link{
   display: none;
}*/

.currentMagFeaturedContainer .onsale{
	font-size: 22px!important;
	padding: 10px!important;
	background: #0ba30b!important;
	border: 2px solid #fff!important;
}
/*//////////////////////////////END featured MAG area//////////////////////////////////////*/


/*//////////////////////////////top homepage backissue banners area//////////////////////////////////////*/
.backIssueHeader-container{
	display: flex;
	width: 100%;
	max-width: 1200px;
	/*height:300px;*/
	margin:0 auto;
	text-align: justify;
	justify-content: space-between;
/*	font-family: 'Roboto', sans-serif;*/
	font-weight: 100;
	background-image: url("/wp-content/themes/astra/assets/images/loading-spin.gif");
	background-repeat: no-repeat;
	background-position: center;

}	

.backIssueHeader-magazine{
	width: 32%;
	height: auto;
	/*max-height: 292px;*/
	padding:0 0 0 0; 
	background-size: cover;
	background-position:center top;
	text-decoration: none;
	opacity:1;
}

.backIssueHeader-magazine:hover > .textArea{
	padding:20% 0 10% 0;
}

.backIssueHeader-magazine:hover > .button{
	background-color: rgba(0,0,0,0.4);
	width: 180px;
}


#backIssueHeader-hustler{
	background-image: url("/wp-content/themes/astra/assets/images/backissue-hustler-bg.jpg");  
}
#backIssueHeader-bl{
	background-image: url("/wp-content/themes/astra/assets/images/backissue-bl-bg-mobile.jpg");  
}
#backIssueHeader-taboo{
	background-image: url("/wp-content/themes/astra/assets/images/backissue-taboo-bg.jpg");  
}

.backIssueHeader-magazine>.textArea{
	/*background-color: rgba(0,0,0,0.6);*/
	width: 100%;
	height: auto; 
	padding:24% 0 6% 0;
/*	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;*/
	transition: all .3s ease-in-out; 

}

.backIssueHeader-magazine>.textArea#hustler{
	/*background-color: rgba(0,0,0,0.6);*/
}
.backIssueHeader-magazine>.textArea#bl{
	/*background-color: rgba(251,79,192,0.8);*/
}
.backIssueHeader-magazine>.textArea#taboo{
	/*background-color: rgba(198,12,33,0.6);*/
}


.backIssueHeader-magazine>.textArea p{
	width: 100%;
	height: auto; 
	text-align: center;
	color: #fff;
	padding:0;
	margin:0;
	font-size: 24px;
	line-height: 26px;
}
.backIssueHeader-magazine>.textArea img, .backIssueHeader-magazine>.textArea>.logo{
	width: 100%;
	max-width: 160px;
	margin:0 auto;
	display: block;
	height: 36px;
	max-height: 36px;
	text-align: center;
	color: #fff;
	background-position: center center;
	background-size: cover;
}

#logoHustler{
	background-image: url("/wp-content/themes/astra/assets/images/logo-hustler-white.png");
}
#logoBL{
	background-image: url("/wp-content/themes/astra/assets/images/logo-bl-white.png");
}
#logoTaboo{
	background-image: url("/wp-content/themes/astra/assets/images/logo-taboo-white.png");
}







.backIssueHeader-magazine> .button{
	width: 140px;
	margin: 12% auto 2% auto;
	padding: 2% 0;
	display: block;
	height: auto; 
	text-align: center;
	color: #fff;
	text-decoration: none;
	border:1px solid #fff;
	font-size: 18px;
	transition: all .3s ease-in-out; 
	background-color: rgba(0,0,0,0);
}

.backIssueHeader-magazine> .button#hustler{
	/*background-color: #000;*/
}
.backIssueHeader-magazine> .button#hustler:hover{
	/*background-color: #666;*/
}
.backIssueHeader-magazine> .button#bl{
	/*background-color: #fb4fc0;*/
}
.backIssueHeader-magazine> .button#bl:hover{
	/*background-color: #d62299;*/
}
.backIssueHeader-magazine> .button#taboo{
	/*background-color: #c60c21;*/
}
.backIssueHeader-magazine> .button#taboo:hover{
	/*background-color: #970414;*/
}



@media only screen and (max-width: 560px ) {
	.backIssueHeader-container{
		display: block; 
	}
	.backIssueHeader-magazine{
		width: 100%;
/*		flex:0 0 auto;
 		flex-direction:row;*/
 		padding:2% 0 0.2% 0; 
 		margin:0 auto 2% auto;
 		background-size: cover;
		background-position:center top;
		float: left;
	}
	.backIssueHeader-magazine>.textArea{
		background-color: rgba(0,0,0,0);
		padding:1% 0;
		border-top: 0;
		border-bottom: 0;
	}

	.backIssueHeader-magazine:hover > .textArea{
		padding:1% 0 1% 0;
	}

	.backIssueHeader-magazine> .button{
		margin:1% auto 1% auto;
		padding:1.6%;
		display: block;		
	}
	.backIssueHeader-magazine>.textArea#hustler{
		background-color: rgba(0,0,0,0);
	}
	.backIssueHeader-magazine>.textArea#bl{
		background-color: rgba(251,79,192,0);
	}
	.backIssueHeader-magazine>.textArea#taboo{
		background-color: rgba(198,12,33,0);
	}
	#backIssueHeader-bl{
		background-image: url("/wp-content/themes/astra/assets/images/backissue-bl-bg-mobile.jpg");  
	}
}


@media only screen and (max-width: 800px ) {
	.backIssueHeader-magazine>.textArea p{
		font-size: 18px;
		line-height: 26px;
	}
}

/*//////////////////////////////END top homepage backissue banners area//////////////////////////////////////*/


/*set the height for header images to help avoid shifting on desktop*/
@media only screen and (min-width: 1200px ) {
	.pageHeaderContainer{
		height: 234px!important;
	}
}






