.menuNavButtonsHolder{
	/*width: 290px!important; with 'create account'*/
	width:170px!important;
	float: right;
}


@media only screen and (min-width: 922px ) {

	.menuNavButtonsHolder{
		/*width: 250px!important; with 'create account'*/
		width: 130px!important;
	}
}

.wishlistMenuText{
	display:block;
}

@media only screen and (max-width: 600px ) {

	.wishlistMenuText, .afterWishlistDivide, .loginIcon, .beforeWishlistDivide, .divide{
		display:none;
	}
	.mobileSearchButton{
		margin-right: 0;
	}

	.menuNavButtonsHolder{
		width:30px!important;
	}

}